$primary: #69787d;
$secondary: #5eba00;
$dark: #1d1e1b;
$light: #ffffff;
$success: #008140;
$success-light: #00de6d;

$gray-100: #f0f0f0;
$gray-200: #f1f2f2;
$gray-300: #f5f5f5;
$gray-400: #f3f3f3;
$gray-500: #cecfd0;
$gray-600: #adadb0;
$gray-700: #cdcccc;
$gray-800: #cbcccc8f;
$gray-900: #6a6b70;
$gray-1000: #494950;
$gray-1100: #444444;
$gray-1200: #313137;
$gray-1300: #292929;
$gray-1400: #1d1d1d;
$gray-1500: #333333;
$gray-1600: #131313;

$highlight: #ffff00;
$lightblue: #1880af;