@font-face {
  font-family: 'Sf Pro Display';
  font-style: normal;
  font-weight: normal;
  src: url('../font/SF_Pro_Display_Medium.OTF') format('opentype');
}

@font-face {
  font-family: 'Sf Pro Display Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../font/SF_Pro_Display_Regular.OTF') format('opentype');
}

body {
  font-family: 'Sf Pro Display Regular';
  -webkit-font-smoothing: antialiased;
}